{% if site.gravatar_email %}
<section>
	<span>
		<img style="float:left" src="{% gravatar_image %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" />
    <span style="float:left;margin-left: 5px">
      <p style="margin:0px;font-weight:bold;">Michael Prouty</p>
      <p style="margin:0px;">Ruby Developer</p>
      <p><a href="http://logcheck.com" target="_blank">LogCheck</a></p>
    </span>
    <span style="display:block;clear:both;visibility:hidden;">.
    </span>
	</span>
</section>
{% endif %}
